@model PhoneShop.Data.Entities.Category

@{
    ViewData["Title"] = "Thêm Danh Mục Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="font-weight-bold">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CName" class="control-label"></label>
                <input asp-for="CName" class="form-control" />
                <span asp-validation-for="CName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CSortOrder" class="control-label"></label>
                <input asp-for="CSortOrder" class="form-control" />
                <span asp-validation-for="CSortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CParentId" class="control-label"></label>
                <input asp-for="CParentId" class="form-control" />
                <span asp-validation-for="CParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay Trở Lại Danh Sách</a>
</div>

