@model PhoneShop.Data.Entities.ProductInCategory

@{
    ViewData["Title"] = "Thêm Sản Phẩm Vào Danh Mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-weight-bold">@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PId" class="control-label"></label>
                <input asp-for="PId" class="form-control" onchange="display()" />
                <h3 id="productName"></h3>
            </div>
            <div class="form-group">
                <label asp-for="CId" class="control-label"></label>
                <input asp-for="CId" class="form-control" onchange="display()" />
                <h3 id="categoryName"></h3>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Category">Quay Trở Lại Danh Sách</a>
</div>

<script>
    function display() {
        var productId = document.getElementById("PId").value;
        var categoryId = document.getElementById("CId").value;
        $.ajax({
            type: "GET",
            url: "/ProductInCategory/GetDisplay",
            data: { productId: productId, categoryId: categoryId },
            success: function (result) {
                document.getElementById("productName").innerHTML = "Tên sản phẩm: " + result.productName.toLocaleString();
                document.getElementById("categoryName").innerHTML = "Tên danh mục: " + result.categoryName.toLocaleString();
            },
            error: function (xhr, status, error) {
                //handle error
            }
        });
    }
</script>